// 重新计算rem
@function pxRem($px) {
  @return $px / 100 * 1rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #03A8F3;
  width: 100%;
  height: pxRem(60);
  z-index: 11;
}
.container {
  position: relative;
  top: pxRem(60);
  /*overflow-y: scroll;*/
}
.v-content {
  position: absolute;
  top: pxRem(60);
  left: 0;
  right: 0;
  bottom: pxRem(60);
  background-color: #ECEFF1;
}
/*话题*/
.topic-item {
  position: relative;
  margin-bottom: pxRem(10);
  background-color: #fff;
  height: pxRem(80);
  cursor: pointer;
  border-radius: pxRem(5);

  .link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  .topicImg {
    float: left;
    height: pxRem(80);
    line-height: pxRem(80);
    margin-right: pxRem(10);
    margin-left: pxRem(10);
    img {
      width: pxRem(50);
      height: pxRem(50);
      margin-top: pxRem(15);
      border-radius: 50%;
    }
  }
  .topic-item:after {
    content: "";
    display: table;
    clear: both;
  }
}
.topicCont {
  height: pxRem(80);
  padding-top: pxRem(5);
  padding-bottom: pxRem(5);
  .topichead {
    height: pxRem(20);
    .tabtype {
      float: left;
      width: pxRem(40);
      height: pxRem(20);
      line-height: pxRem(20);
      background-color: #4BAE4F;
      color: white;
      text-align: center;
      border-radius: pxRem(5);
      &.active {
        background-color: green;
      }
    }
    .topicAtr {
      float: right;
      padding-right: pxRem(15);
    }
  }
  h4 {
    //限制内容
    width: pxRem(300);
    margin-top: pxRem(5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
/*收藏按钮，登录按钮*/
.collect , .uncoll , .signOut {
    height: pxRem(30);
    margin-top: pxRem(15);
    margin-right: pxRem(10);
    float: right;
    cursor: pointer;
    text-align: center;
    line-height: pxRem(30);
    border-radius: pxRem(8);
  }
  .collect , .signOut{
    width: pxRem(60);
    background-color:#50D719;
  }
  .uncoll{
    width: pxRem(100);
    background-color: #07474E;
  }
